lightgbm
scikit-learn
mlxtend
streamlit
streamlit-option-menu
matplotlib  # In case you use plots
pandas      # Most likely used for data handling
numpy       # Required by LightGBM and general ML work
seaborn
plotly